@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0px;
  background-color: #4caf50;
}


/* head */

.menu-btn{
  color: #424144;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.navbar{
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 80px;
  z-index: 999;

}

.navbar .logo {
  width: 150px;
  height: 80px;
  /* border: 2px solid red; */
  /* border-bottom: 2px solid #0fa94a; */
}
.navbar .logo img{
  width: 150px;
  height: 79px;
 
  /* border-bottom: 2px solid #0fa94a; */
}

.navbar .menu li{
  list-style: none;
  display: inline-block;
}

.navbar .menu li a{
  display: block;
  margin-left: 20px;
  color: white;
  border-bottom: 4px solid transparent;
  text-decoration: none;
  font-size: 20px;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 13px;
  border-radius: 3px;

}

.navbar .menu li a.active,
.navbar .menu li a:hover{
  background-color: white;
  color: #27ae60;

  /* border-bottom: 4px solid rgb(90, 228, 90); */
}

.navbar .menu li a i{
  color: #055423;
}
.navbar .menu li a i:hover{
  color: #055423;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.first-btn {
  display: inline-block;
  background-color: #ffffff;
  color: #4caf50;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
}
.first-btn:hover {
  background-color: #27ae60;
  color: #ffffff;
  box-shadow: 0 0 0 4px #fff, 0 0 0 8px #27ae60;
}

#second-btn button {
  text-decoration: none;
  border: none;
  background: #4caf50;
  padding: 16px 30px;
  color: #fff;
  border-radius: 6px;
  transition: 0.2s;
}

#second-btn button:hover {
  box-shadow: 0 0 0 4px #fff, 0 0 0 8px #27ae60;
}

h1 {
  font-size: 32px;
  margin: 0;
}


p {
  font-size: 18px;
  line-height: 1.5;
}

.load {
  animation: slide 20s;
  background: no-repeat;
  background-size: cover;
}
.main-content {
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  height: 710px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide 40s infinite;
}

.main-content h2 {
  font-size: 48px;
  margin: 0;
  margin-bottom: 20px;
}

.main-content p {
  font-size: 24px;
  margin: 0;
  margin-bottom: 30px;
}
.content {
  text-align: center;
  color: #ffffff;
}
@keyframes slide {
  0% {
    background: linear-gradient(rgba(225, 225, 225, 0.3), rgba(46, 204, 113, 0.7)),
      url("/img/21239.jpg");
  }
  20% {
    background: linear-gradient(rgba(225, 225, 225, 0.3), rgba(46, 204, 113, 0.7)),
      url("/img/23324.jpg");
  }
  30% {
    background: linear-gradient(rgba(225, 225, 225, 0.3), rgba(46, 204, 113, 0.7)),
      url("/img/futuristic-smart-city-with-5g-global-network-technology.jpg");
  }
  40% {
    background: linear-gradient(rgba(225, 225, 225, 0.3), rgba(46, 204, 113, 0.7)),
      url("/img/pexels-pixabay-256102.jpg");
  }
  50% {
    background: linear-gradient(rgba(225, 225, 225, 0.3), rgba(46, 204, 113, 0.7)),
      url("/img/SL-091319-23410-12.jpg");
  }
  60% {
    background: linear-gradient(rgba(225, 225, 225, 0.3), rgba(46, 204, 113, 0.7)),
      url("/img/technology-particle-dots-5g-digital-corporate-background.jpg");
  }
  70% {
    background: linear-gradient(rgba(225, 225, 225, 0.3), rgba(46, 204, 113, 0.7)),
      url("/img/telecommunications-towers-against-cloudy-sky.jpg");
  }
  80% {
    background: linear-gradient(rgba(225, 225, 225, 0.3), rgba(46, 204, 113, 0.7)),
      url("/img/technology-particle-dots-5g-digital-corporate-background.jpg");
  }
  100% {
    background: linear-gradient(rgba(225, 225, 225, 0.3), rgba(46, 204, 113, 0.7)),
      url("/img/wan-wlan-technology-connection-computers.jpg");
  }
}
.why-cls-frame {
  background-color: #0e3959;
  color: white;
  max-width: 100%;

  padding: 38px;
}
.why-cls-frame h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.reasons-box {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  flex-basis: 30%;
}

.reasons-box h3 {
  font-size: 24px;
  margin-top: 0;
}

.reasons-box p {
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
}
.reasons {
  border-top: 2px solid #27ae60;
  margin-right: 20px;
  padding: 20px;
}
.reasons:first-child {
  border: none;
}

#secondframe {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
}
#secondframe h2{
  font-size: 1.8em;
  color: #27ae60;
  padding: 20px;
  text-align: center;
}
#features-box{
  display: flex;
  justify-content: space-evenly;
}
.features h3 {
  color: #27ae60;
  font-weight: 900;
  font-size: 1.5em;
}
.mobile-icon,
.IT-icon,
.super-icon {
  text-align: center;
}
.super-icon i {
  font-size: 60px;
  display: block;
  margin-bottom: 40px;
  color: #4caf50;
}
.IT-icon i {
  font-size: 60px;
  display: block;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #4caf50;
}
.mobile-icon i {
  font-size: 70px;
  display: block;
  margin-bottom: 40px;
  color: #4caf50;
}



.Everything-5G {
  padding: 40px;
}
.Everything-5G p {
  color: white;
  font-weight: lighter;
}
.Everything-5G span {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.router-photo-frame {
  display: flex;
  max-width: 100%;
  background-color: white;
}
.router-photo-frame h2,
h3 {
  color: #4caf50;
}

.float-img {
  margin-top: 20px;
  width: 50%;
  height: auto;
  padding: 40px;
  transform: translate(0px);
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}

.router-text {
  padding: 20px;
}

.phones-comp {
  color: white;
  padding: 40px;
}
.phones-comp h3{
  color: white;
  
}



footer {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

/* responsive */
@media (max-width: 820px){

  .menu-btn{
      display: block;
      z-index: 999;
  }

  .menu-btn i.active::before{
      content: "\f00d";
  }
  
  .navbar .menu{
      position: fixed ;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      bottom: 0;
      background-color: #055423;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
  }
  .navbar .menu.active{
      left: 0;
  }

  .navbar .menu li{
      display: flex;
      justify-content: center;
  }

  .navbar .menu li a {
      margin: 10px 0;
      font-size: 25px;
  }
    .main-content {
      height: 600px;
    }
  
    .main-content h2 {
      font-size: 36px;
    }
  
    .main-content p {
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    .first-btn,
    #secondbtn {
      font-size: 18px;
      padding: 8px 16px;
    }
    #features-box {
      padding: 10px;
      flex-direction: column;
    }
    .router-photo-frame {
      flex-direction: column;
    }
  
    .float-img {
      margin-left: 60px;
      margin-top: 20px;
      width: 80%;
      transform: none;
      animation: none;
      padding: 20px;
    }
  
    .why-cls-frame {
      flex-direction: column;
    }
  
    .reasons-box {
      flex-basis: auto;
      margin-bottom: 20px;
    }
}

/* Medium screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
 
  
  .menu-btn{
      display: block;
      z-index: 999;
  }

  .menu-btn i.active::before{
      content: "\f00d";
  }
  
  .navbar .menu{
      position: fixed ;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background-color: #055423;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
  }
  .navbar .menu.active{
      left: 0;
  }

  .navbar .menu li{
      display: flex;
      justify-content: center;
  }

  .navbar .menu li a {
      margin: 10px 0;
      font-size: 25px;
  }
  .main-content {
    height: 500px;
  }

  .main-content h2 {
    font-size: 40px;
  }

  .main-content p {
    font-size: 22px;
  }

  .first-btn,
  #second-btn {
    font-size: 20px;
    padding: 10px 20px;
  }
  .features{
  padding: 20px;  
  }

  .router-photo-frame {
    flex-direction: column;
  }

  .float-img {
    margin-left: 80px;
    width: 80%;
    padding: 30px;
    transform: none;
    animation: none;
  }
}

